@model IEnumerable<ThAmCo.Events.Models.GuestEventViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attended)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @(item.Attended?"Yes":"No")
            </td>
            <td>
                @if(!item.Attended)
                {
                    @Html.ActionLink("Mark as Attended", "MarkAttended", "GuestBookings", 
                    new { id = item.CustomerId, eventId = item.EventId })<text> | </text>;
                }
                @Html.ActionLink("Details", "Details", "Events", new { id = item.EventId })
            </td>
        </tr>
}
    </tbody>
</table>
