@model IEnumerable<ThAmCo.Events.Models.EventGuestViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attended)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @(item.Attended?"Yes":"No")
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Customers", new { id = item.CustomerId })
            </td>
        </tr>
}
    </tbody>
</table>
