@model ThAmCo.Events.Models.EventDetailsViewModel

@{
    ViewData["Title"] = "Event Details";
}

<h2>Event Details</h2>

<div class="row">
    <div class="col-md-4">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.VenueName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.VenueName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NoOfGuests)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NoOfGuests)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Duration)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Duration)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <hr />
        @if (Model.Guests.Any())
        {
            <partial name="_GuestList" for="Guests" />
        }
        else
        {
            <h4>No current bookings.</h4>
        }
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Book" asp-controller="Venues" asp-route-id="@Model.Id">Book Venue</a> |
    <a asp-action="Index">Back to Events</a>
</div>